/* Reset and base styles */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background: black url("/assets/images/malooz-bg.jpg") no-repeat center top /
    cover;
}

/* Navigation Pills */
.nav-pill-container .nav-link {
  padding: 14px 24px;
  border-radius: 68px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  gap: 10px;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.nav-pill-container .nav-link:hover {
  background: #1c1c1c;
}

.nav-pill-container .nav-link.active {
  background: #2b2b2b;
  font-weight: 600;
}

.hero-logo img {
  max-width: 602.65px;
  max-height: 169px;
}

.hero-title {
  font-family: Manrope, sans-serif;
  font-size: 58px;
  font-weight: 700;
  max-width: 1098px;
  line-height: 1.5;
  text-wrap: balance;
  word-break: break-word;
  text-align: center;
}

.hero-description {
  font-family: Manrope, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 1098px;
  max-height: 100px;
  margin: 0 auto;
  text-wrap: balance;
}

/* Buttons */
.btn-hero {
  background: #b8eb00;
  color: #000;
  font-weight: 700;
  border-radius: 82px;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  transition: background 0.3s;
  margin-top: 1.5rem;
}

@media (max-width: 767.98px) {
  .navbar {
    display: none;
  }
  .hero-overlay-mobile {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
}

@media (min-width: 768px) {
  .hero-overlay-desktop {
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    overflow-wrap: break-word;
  }

  .login-description {
    font-size: 12px;
    font-weight: 500;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

@media (max-width: 1399px) {
  #navbarContent {
    padding: 1rem 0;
  }

  .nav-pill-container {
    border-radius: 12px !important;
    padding: 1rem !important;
    gap: 12px !important;
  }

  .nav-link {
    padding: 0.75rem 1rem !important;
    border-radius: 8px !important;
    background: rgba(255, 255, 255, 0.1);
  }

  .nav-link.active {
    background: #b8eb00 !important;
    color: #000 !important;
  }
}
